#faq {
	height: 100%;
	margin-top: 2rem;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	text-transform: none;
	color: #023d8b;
}

h5 {
	font-family: 'Roboto Mono', monospace;
	display: inline;
}

#ref {
	font-size: 0.8em;
	padding-top: 12rem;
}
