#about {
  height: 100%;
  margin-top: 2rem;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  text-transform: none;
  color: #023d8b;
}

h4 {
  color: #023d8b;
}

ul {
  list-style: none;
  padding-left: 0;
}

#ref {
  font-size: 0.8em;
  padding-top: 12rem;
}
