
<h1>Periodic Table of Successful Health Behaviour Change</h1>

<div class="periodic-table">
  <div class="periodic-column" *ngFor="let col of table.columns">
    <h4>{{ col.name }}</h4>

    <div class="periodic-cell-container">
      <div class="periodic-cell-outer" *ngFor="let cell of col.entries">
        <div class="periodic-cell periodic-rank-{{ cell.rank }}">
          <div class="periodic-cell-rank">
            +{{ cell.rank }}
          </div>
          <h5 class="periodic-cell-slug">
            {{ cell.slug }}
          </h5>
          <h6 class="periodic-cell-title">
            {{ cell.name }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<br>
<br><br>
<br><br>
<br>
