<main>
<section id="data" class="container">
  <div class="row">
      <div class="col">
        <h1>Data</h1>
        <p>The data file for the PAST SELF Framework for the design and evaluation of Self-tracking Technology (ST) for Health Behavior Change (HBC) and User Engagement (UE) is published publicly on <a href="https://github.com/syfantid/PAST-SELF-Framework-Data" target="_blank">GitHub</a>. Edits of existing fields are not supported on the file. However, additions based on new, published literature are highly encouraged.</p>
      </div>      
  </div>
</section>

</main>